cbiexp-1.0/src/projections.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="projections">
    <xsd:complexType>
      <xsd:sequence maxOccurs="unbounded" minOccurs="1">
        <xsd:element name="projection">
          <xsd:complexType>
            <xsd:attribute name="name" use="required">
              <xsd:simpleType>
                <xsd:restriction base="xsd:ID">
                  <xsd:pattern value="[a-z]+" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:attribute>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>