cbiexp-1.0/src/scores.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="scores" type="scores.type" />

  <xsd:complexType name="scores.type">
    <xsd:sequence maxOccurs="unbounded" minOccurs="0">
      <xsd:element ref="predictor" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="predictor" type="predictor.type" />

  <xsd:complexType name="predictor.type" />

  <xsd:attribute name="index" type="xsd:positiveInteger" />
  
  <xsd:attribute name="score" type="xsd:double" />
</xsd:schema>