src/predictor-info.dtd

<!ELEMENT predictor-info (info)+>

<!ELEMENT info (bug-o-meter, operand*)>
<!ATTLIST info
  scheme (branches|g-object-unref|returns|scalar-pairs) #REQUIRED
  file CDATA #REQUIRED
  line NMTOKEN #REQUIRED
  function NMTOKEN #REQUIRED
  predicate NMTOKEN #REQUIRED>

<!ENTITY % bug-o-meter SYSTEM "bug-o-meter.dtd">
%bug-o-meter;

<!ELEMENT operand EMPTY>
<!ATTLIST operand source CDATA #REQUIRED>
