src/pred-scores.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:redefine schemaLocation="scores.xsd">
    <xsd:complexType name="predictor.type">
      <xsd:complexContent>
        <xsd:extension base="predictor.type">
          <xsd:attribute ref="index" use="required" />
          <xsd:attribute ref="score" use="required" />
          <xsd:attribute name="stat1" type="xsd:double" use="required" />
          <xsd:attribute name="stat2" type="xsd:double" use="required" />
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:redefine>
</xsd:schema>