src/projected-view.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:redefine schemaLocation="view.xsd">
    <xsd:complexType name="predictor.type">
      <xsd:complexContent>
        <xsd:extension base="predictor.type">
          <xsd:attribute name="initial" type="xsd:double"
            use="required" />
          <xsd:attribute name="effective" type="xsd:double"
            use="required" />
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:redefine>
</xsd:schema>