src/static-site-info.dtd

<!ELEMENT static-site-info (sites*)>

<!ELEMENT sites (site*)>
<!ATTLIST sites
  unit NMTOKEN #REQUIRED
  scheme NMTOKEN #REQUIRED
>

<!ELEMENT site (operand*)>
<!ATTLIST site
  file CDATA #REQUIRED
  line NMTOKEN #REQUIRED
  function NMTOKEN #REQUIRED
  cfg-node NMTOKEN #REQUIRED
>

<!ELEMENT operand EMPTY>
<!ATTLIST operand
  source CDATA #REQUIRED
  scope (local|global|mem|const) #IMPLIED
  access (direct|indirect|field|index) #IMPLIED
>
