src/lsa/xml/features.dtd

<!-- information about features, i.e., predicates, from plsa analysis -->
<!ELEMENT featureinfos (info*)> 

<!--each info is essentially a row in the Pw_z matrix -->
<!ELEMENT feature (aspectentry*)> 

<!-- single entry in Pw_z matrix -->
<!ELEMENT aspectentry EMPTY>
<!ATTLIST aspectentry aspectindex NMTOKEN #REQUIRED>
<!ATTLIST aspectentry rank NMTOKEN #REQUIRED>
<!ATTLIST aspectentry probability NMTOKEN #REQUIRED>
